*.py[cod]
.vscode
__pycache__

# dbs
*.db

# C extensions
*.so

#virtualenv
env

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# env files
*.env

# logs
*.log*